<p>
    "<%= title %>" by <%= author %> references <%= entities.length %> identified ancient entities. 
    
    The entity most frequently referenced is <span class="entity" data-entity-id="<%= topEntities[0].id %>"><%= topEntities[0].title %></span>, followed by <span class="entity" data-entity-id="<%= topEntities[1].id %>"><%= topEntities[1].title %></span>, <span class="entity" data-entity-id="<%= topEntities[2].id %>"><%= topEntities[2].title %></span>, and <span class="entity" data-entity-id="<%= topEntities[3].id %>"><%= topEntities[3].title %></span>.
</p>
<p><button class="btn btn-primary goto-reading">Go to Reading View <i class="icon-chevron-right icon-white"></button></p>