<div>
<br/><br/>
	<div> <p>Text passage to view:</p>
    <div class="book-list"></div></div><br/><br/><br/>
	<span style="position:relative;"><a href="images/athenians-midi.png"  class="gallery"><img title="wordcloud athenians" src="images/athenians_thumb.png" class="well" style="position:absolute;"/><span style="z-index:100;position:absolute;left:75px;top:121px;"> Athenians </span></a>
	<a href="images/spartans-midi.png"  class="gallery"><img title="wordcloud spartans" src="images/spartans_thumb.png" class="well" style="position:absolute;left:257px;"/><span style="z-index:100;position:absolute;left:345px;top:121px;">Spartans </span></a>
	<p style="position:absolute;top:150px;width:500px;">Events performed by the Athenians and the Spartans in Thuc. 1.89-118</p></span>	
</div>