<i class="icon-black icon-<% if (type=="ORGANISATION"){%>group<%} else if (type=="PERSON"){%>user<%} else {%>globe<%} %>"></i> <span class="" style="margin-bottom:0px;padding-bottom:0px;font-weight:bold;"><%= type.charAt(0).toUpperCase() + type.slice(1).toLowerCase() %></span> <h2><%= title %></h2>
<h3><%= ortsbezug %></h3>
<div class="frequency-bars"></div>
<p>
    <span class="frequency"><%= frequency %></span> reference<%= frequency == 1 ? "" : "s" %> | <span class="change-this control on">Report a problem with this record</span>
</p>
<div></div>

<p><i class="icon-black icon-circle-arrow-right"></i><a href="<%= uri %>" target="_blank"> Entity page on Arachne</a></p>

<p><i class="icon-black icon-globe"></i><a href="http://gazetteer.dainst.org/place/<%= gazetteerid %>" target="_blank"> Connected place in iDAI.gazetteer</a></p>

