	<div class="container archaeo-fixed-menu-header">
			<div id="archaeo-fixed-menu-logo"></div>
			<h3 class="pull-left">
				<small>Deutsches Arch&auml;ologisches Institut</small> <br>
				<a href="#" style="color:inherit"><%= title %></a>
			</h3>
		</div>			
			<div class="affix-menu-wrapper">
			<div id="affix-menu" style="z-index: 100000;"
				class="navbar navbar-inverse container" data-spy="affix">
				<div class="navbar-inner">
					<div id="archaeo-fixed-menu-icon"></div>
					<a class="btn btn-navbar" data-toggle="collapse"
						data-target=".nav-collapse"> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
					</a>
					<a class="brand" href="#"><%= title %></a>
					<div class="nav-collapse pull-left">
						<ul class="nav">
							<form id="search-form" class="navbar-search pull-left">
								<input name = "q" id="searchInput" type="text" class="input-medium search-query span3" placeholder="Search in Linked Data Interface">
							</form>
							<li><a href="http://hellespont.dainst.org/startpage/index.html#description">About Hellespont Project</a></li>
							<li><a href="http://gapvis.hellespont.dainst.org">GapVis</a></li>
							<li><a href="http://linkeddata.hellespont.dainst.org">Linked Data Interface</a></li>
							<li><a href="http://hellespont.dainst.org/startpage/downloads.html">Downloads and Links</a></li>
							<li><a href="http://hellespont.dainst.org/startpage/docu.html">Documentation</a></li>
							<li><a href="http://hellespont.dainst.org/startpage/contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script>
		$("#search-form").submit(function() {
		    var query = $('input[name="q"]').val();
		    window.location.href = 'http://linkeddata.hellespont.dainst.org/#search?q='+query;
		    return false;
		});
		</script>
