<nav class="btn-group" data-toggle="buttons-radio">
  <button class="btn btn-primary" title="Book Summary" data-view-id="book-summary"><i class="icon-star icon-white"></i> Book Summary</button>
  <button class="btn btn-primary" title="Reading View" data-view-id="reading-view"><i class="icon-book icon-white"></i> Reading View</button>
  <button class="btn btn-primary" title="Entity Detail" data-view-id="entity-view"><i class="icon-map-marker icon-white"></i> Entity Detail</button>
  <button class="btn btn-primary" title="Tree View" data-view-id="tree-view"><i class="icon-leaf"></i> Tree View</button>
  <button class="btn btn-primary" title="Legend"><i class="icon-info-sign icon-white"></i> Legend</button></nav>
  <div id="legend" class="panel" style="display:none;"><div class="ORGANISATION">Organisation</div><div class="PLACE">Place</div><div class="GEOGRAPHY">Geography</div><div class="PERSON">Person</div></div>


<a class="permalink btn btn-primary" title="Permalink" href="#"><i class="icon-bookmark icon-white"></i></a>